html, body {
    margin: 0;
    padding: 0;
    display: flex;
}

#side-block {
    background-color: #004eec;
    width: 50%;
    height: 47.3em;
    margin: 8px;
    border-radius: 10px;
    font-family: Arial;
}

.tutorial {
    display: flex;
    color: white;
    margin-left: 12px;
}

.init {
    margin-top: 3em;
}

.arrow {
    height: 24px;
    position: relative;
    top: 13px;
    margin-right: 8px;
}

#principal-block {
    display: flex;
    flex-direction: column;
    height: 24em;
    width: fit-content;
}

#qr-icon {
    font-size: 32px;
    height: 34px;
    width: 32px;
    box-shadow: 0px 0px 4px;
    border-radius: 4px;
    position: relative;
    left: 17em;
    top: 2em;
}

#qr-title {
    font-family: Arial;
    position: relative;
    top: 2em;
    left: 12.6em;
}

#qr-desc {
    position: relative;
    top: 2em;
    left: 26.4em;
    color: #555555;
    font-family: arial;
}

#qr {
    margin: 6em 1.5em;
    padding: 6px;
    border: 1px solid;
    border-radius: 13px;
    position: relative;
    left: 25.2em;
    bottom: 2em;
}